
.third-horizontal-bar{
	position:absolute;
	height: 42px;
	width: 60%;
	background:#6C3;
	left: -1px;
	top: 307px;
	}
#third-corner
{
	position: absolute;
	display:inline-block;
	font-size: 35em; /* This controls the size. */
	width: 0.45em;
	height: 225px;
	border: 0.08em solid #6C3;
	border-bottom-right-radius:0.3em;
	border-top-left-radius:0.3em;
	border-top-right-radius: 0.3em;
	left: 60%;
	top: 37px;
}
#third-corner-below
{
	position: absolute;
	display:inline-block;
	font-size: 35em; /* This controls the size. */
	width: 0.45em;
	height: 225px;
	border: 0.08em solid #663;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius:0.3em;
	border-top-left-radius:0.3em;
	//border-top-right-radius: 0.3em;
	left:-0.52em;
	z-index:1;
	top: 100%;
}
#third-vertical-bar
{
	position:absolute;
	width: 47px;
	height :100%;
	background: #663;
	left: 60%;
	top: 344px;
	}